/* ESTILO NOSOTROS */
.nosotros {
    height: 100vh;
}

.video {
    width: 70vh;
    height: 50vh;
    margin-left: 33%;
}

.section3 {
    padding: 2vh;
}

.historia {
    font-size: 3vh;
    font-style: italic;
    text-align: justify;
    margin: 25px;
}